In [12]:
import pandas as pd
from sqlalchemy import create_engine
database_type = 'postgresql' # Change this to your database type
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'
database_name = 'Cars_DB'

connection_string = f'{database_type}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(connection_string)
sql_query = 'SELECT * FROM cars'
df = pd.read_sql(sql_query, engine)
print(df)

   car_id       make      type      style  cost_$
0       1      Honda     Civic      Sedan   30000
1       2     Toyota   Corolla  Hatchback   25000
2       3       Ford  Explorer        SUV   40000
3       4  Chevrolet    Camaro      Coupe   36000
4       5        BMW        X5        SUV   55000
5       6       Audi        A4      Sedan   48000
6       7   Mercedes   C-Class      Coupe   60000
7       8     Nissan    Altima      Sedan   26000

In [13]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(database='Cars_DB',user='postgres', password='postgres', host='localhost', port='5432')
cursor = conn.cursor()


sql = '''CREATE TABLE employee(
 id  SERIAL NOT NULL,
 name varchar(20) not null,
 state varchar(20) not null
)'''
cursor.execute(sql)
data = [('Babita', 'Bihar'), ('Anushka', 'Hyderabad'), 
        ('Anamika', 'Banglore'), ('Sanaya', 'Pune'),
        ('Radha', 'Chandigarh')]

for d in data:
    cursor.execute("INSERT into employee(name, state) VALUES (%s, %s)", d)
    print("List has been inserted to employee table successfully...")
conn.commit()
 
conn.close()

DuplicateTable: relation "employee" already exists

In [63]:
data = [('Babita', 'Bihar'), ('Anushka', 'Hyderabad'), 
        ('Anamika', 'Banglore'), ('Sanaya', 'Pune'),
        ('Radha', 'Chandigarh')]

for d in data:
    print(d)

('Babita', 'Bihar')
('Anushka', 'Hyderabad')
('Anamika', 'Banglore')
('Sanaya', 'Pune')
('Radha', 'Chandigarh')

In [19]:
import pandas as pd

dataFrame = pd.read_csv(r"./source/Stackline_inhouse_share.csv")
for i in dataFrame:
    print(i)

RETAILER_ID
RETAILER_NAME
RETAILER_SKU
WEEK_ID

In [36]:
import pandas as pd
import psycopg2
import csv

conn = psycopg2.connect(database='Cars_DB',user='postgres', password='postgres', host='localhost', port='5432')
cursor = conn.cursor()
with open('./source/Stackline_inhouse_share.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    records=0
    for row in reader:
        records+1
        cursor.execute("insert into stack_line_inhouse_share (RETAILER_ID,RETAILER_NAME,RETAILER_SKU,WEEK_ID) values (%s,%s,%s,%s)",row)
    
    conn.commit()
    
    conn.close() 
    print('\n{} Records are transfered' .format(records))

0 Records are transfered

In [9]:
list=[1,2,3,4,4,5,5]
count = 0
for i in list:
    count = count +1
    print(i,count)

1 1
2 2
3 3
4 4
4 5
5 6
5 7

In [10]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

import logging

import sys
import os
from pathlib import Path
import csv

output_file=Path(os.path.basename(sys.argv[0])).stem

ModuleNotFoundError: No module named 'google'

In [17]:
import sys
import os
from pathlib import Path
import csv
import logging
output_file=Path(os.path.basename(sys.argv[0])).stem
print(output_file)
logger = logging.getLogger()
logging.basicConfig(filename=output_file+'.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s', level=logging.INFO)
logger.info("Flixmedia script started")

ipykernel_launcher
None

In [22]:
import streamlit as st
st.title("cseve")

DeltaGenerator()

In [27]:
import streamlit as st
import pandas as pd
df = pd.DataFrame({
  'first column': [1, 2, 3, 4],
  'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

In [28]:
import streamlit as st
import pandas as pd

st.write("Here's our first attempt at using data to create a table:")
st.write(pd.DataFrame({
    'first column': [1, 2, 3, 4],
    'second column': [10, 20, 30, 40]
}))

In [29]:
import streamlit as st
import numpy as np

dataframe = np.random.randn(10, 20)
st.dataframe(dataframe)

DeltaGenerator()

In [30]:
import streamlit as st
import numpy as np
import pandas as pd

chart_data = pd.DataFrame(
     np.random.randn(20, 3),
     columns=['a', 'b', 'c'])

st.line_chart(chart_data)

DeltaGenerator()

In [34]:
import streamlit as st
import numpy as np
import pandas as pd

dataframe = pd.DataFrame(
    np.random.randn(10, 20),
    columns=('col %d' % i for i in range(20)))

st.dataframe(dataframe.style.highlight_max(axis=0))

vee

In [35]:
import streamlit as st

st.write("Hello world")